USE [school]
GO
/****** Object:  Table [dbo].[students]    Script Date: 3/6/2026 11:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NULL,
	[age] [int] NULL,
	[email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (N'8ba1f4e7-1feb-4628-90f8-14ad7abb50b9', N'Phạm Minh D', 22, N'phammind@email.com')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (N'83c96910-93da-44ce-81f8-3086bbe25fe8', N'Ngô Văn H', 24, N'ngovanh@email.com')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (N'b15ed559-9808-4b70-bf34-48ef954d7048', N'Đặng Văn F', 23, N'dangvanf@email.com')
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (newid()) FOR [id]
GO
